:host ::selection {
    background: rgba(255, 255, 255, 0.3);
}

#aligner {
    align-items: center;
    display: flex;
    padding: 0 8px;
    width: 100%;
}

#title {
    flex: 5;
    font-size: 0.87rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#pageselector-container {
    text-align: center;

    white-space: nowrap;
}

#buttons {
    flex: 5;
    text-align: end;
    user-select: none;
}

paper-icon-button {
    margin-inline-end: 12px;
}

viewer-toolbar-dropdown {
    margin-inline-end: 4px;
}

paper-progress {
    --paper-progress-active-color: var(--google-blue-300);
    --paper-progress-container-color: transparent;
    --paper-progress-height: 3px;
    transition: opacity 150ms;
    width: 100%;
}

#toolbar {
    box-shadow: var(--shadow-elevation-2dp_-_box-shadow);
    background-color: rgb(50, 54, 57);
    color: rgb(241, 241, 241);
    display: flex;
    height: 48px;
    padding: 0 16px;
}

#progress-container {
    bottom: 0;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: auto;
    width: auto;
}

.invisible {
    visibility: hidden;
}

@media(max-width: 675px) {

    #bookmarks,
    #rotate-left {
        display: none;
    }

    #pageselector-container {
        flex: 2;
    }

}

@media(max-width: 450px) {
    #rotate-right {
        display: none;
    }

}

@media(max-width: 400px) {

    #buttons,
    #pageselector-container {
        display: none;
    }

}