<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <div class="jumbotron rounded mt-5">
        <h1 class="display-4">Experience Index</h1>
        <p class="lead">Example Catalog of Schema.org compliant courses.</p>
        <hr class="my-4">
        <p>Utility for admins to view, add, and edit courses in your XI.</p>
        <p class="lead">
            <a class="btn btn-outline-primary btn-lg" href="https://adlnet.gov/projects/tla/" role="button">Learn more</a>
        </p>
    </div>

    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

<script src="js/main.js"></script>

</html>