# ------------------------------------------------ #
# NGINX SETUP
# ------------------------------------------------ #
HOSTNAME=localhost

# ------------------------------------------------ #
# XI
#
# KEYCLOAK CONNECTION
# ------------------------------------------------ #
KEYCLOAK_URL=http://localhost:8080/auth
KEYCLOAK_REALM=some-realm
KEYCLOAK_CLIENT=some-client

# ------------------------------------------------ #
# MONGO SETUP
# ------------------------------------------------ #
DB_CONTAINER=db
DB_NAME=mydb
COLLECTION_NAME=records

# ------------------------------------------------ #
# PAGE SETUP
# ------------------------------------------------ #
SITE_ROOT=xi
SITE_NAME=Experience Index

# This should be a Bootstrap 4.5 compatible color value e.g. bg-primary, bg-dark, bg-info
SITE_COLOR=bg-info

# ------------------------------------------------ #
# API SETUP
# ------------------------------------------------ #
# Whether or not to enforce an exactness requirement for filtering by URL and COMPETENCY
# with the XI entries.  Can be 0 or 1.
#
EXACT_RESOLUTION_MATCH=0

# Secret for interacting with the XI API from outside of an SSO context
#
API_SECRET=some-long-secret