
WS_PASSWORD=tla-password
API_SECRET=some-long-string

KAFKA_XAPI_NOISY=learner-xapi
KAFKA_XAPI_PENDING=resolve-pending
KAFKA_XAPI_TRANSACTIONAL=resolved-xapi
KAFKA_XAPI_AUTHORITATIVE=authority-xapi

KEYCLOAK_CLIENT=default
HOSTNAME=kafka-server.usalearning.net

XI_ENDPOINT=http://localhost:3000/acts
XI_SECRET=some-long-secret

APPROVED_ASSERTION_DOMAINS=https://credentialengine.net,https://credreg.net

KAFKA_XAPI_TOPIC=learner-xapi
USE_KEYCLOAK=0

BASIC_USERNAME=some-user
BASIC_PASSWORD=some-password