<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="<%= locals.root %>/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="<%= locals.root %>/images/favicon.ico" type="image/x-icon" />

    <!-- Helper css for this site -->
    <link href="<%= locals.root %>/css/helper.css" rel="stylesheet">

    <nav style="height: 4rem" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark justify-content-between">
        <h1 class="nav-element navbar-brand unselectable">Learner Profile Competency API</h1>
        <div class="form-inline">
            <a href="<%= locals.root %>/logout" class="btn btn-dark my-2 my-sm-0">Logout</a>    
        </div>
    </nav>
</head>