## Content 
CONTENT_HOST=content-url.com

## or localhost for dev

##Expected from the globals
##
## 1. KEYCLOAK_REALM
## 2. KEYCLOAK_URL
## 3. LRS_USER
## 4. LRS_PASS
## 5. LRS_ENDPOINT

KEYCLOAK_CLIENT=default