# TLA configuration
#
API_SECRET=some-long-string

KEYCLOAK_USER=example_username
KEYCLOAK_PASSWORD=example_Password

# KEYCLOAK_REALM=example_realm
# KEYCLOAK_CLIENT=example_client
# KEYCLOAK_ENDPOINT=3x4mp13_P@s5w0rd

## -------- Don't Change -------------- ##
POSTGRES_DB=keycloak
POSTGRES_USER=root
POSTGRES_PASSWORD=pg-password
POSTGRES_ENDPOINT=docker_postgres
## ------------------------------------ ##

HOSTNAME=localhost