PROXY_LRS_ROOT=http://lrs:8000
PROXY_PORT=8085

PROXY_HOST_NAME=tla-dev-lrs.url.net
PROXY_INFER=true

KAFKA_TOPIC=learner-xapi

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=some-gmail-acct
SMTP_PASSWORD=some-gmail-password
SMTP_USE_SSL=True
SMTP_USE_TLS=False